<div class="w-svw h-[100px] pl-[38px] pr-10 py-5 bg-slate-300">
  <div class="w-full h-full flex gap-[69px]">
    <div class="h-9 flex w-fit items-center my-3 gap-[9px]">
      <img src="../../assets/logo.svg" alt="" />
      <div class="text-[32px] font-extrabold font-mont">BankDash.</div>
    </div>
    <div class="w-full h-auto flex items-center justify-between">
      <p class="font-inter font-semibold my-[13px] text-[28px]">Overview</p>
      <div class="w-fit flex gap-[30px] justify-end items-center">
        <div
          class="w-[255px] h-[50px] rounded-3xl bg-[#f5f7fa] my-[5px] flex justify-center items-center gap-[15px]"
        >
          <i
            class="fa-solid fa-magnifying-glass ml-[25px] my-[15px] text-[20px] text-[#b1b1b1]"
          ></i>
          <input
            class="w-[152px] text-[15px] bg-transparent my-4 mr-[43px] focus:outline-none font-inter"
            type="text"
            placeholder="Search for something"
          />
        </div>

        <div
          class="h-[50px] w-[50px] flex items-center justify-center rounded-full bg-[#f5f7fa] text-black"
        >
          <img src="../../assets/settings-icon.svg" alt="" />
        </div>
        <div
          class="h-[50px] w-[50px] flex items-center justify-center rounded-full bg-[#f5f7fa] text-[#fe5c73]"
        >
          <i class="fa-regular fa-bell text-[25px]"></i>
        </div>
        <div
          class="ml-[5px] w-[60px] h-[60px] bg-[#c4c4c4] flex items-center justify-center rounded-full"
        >
          <img
            class="w-full h-full rounded-full"
            src="../../assets/small-guy.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
